html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

header {
  background-color: #80a964;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  transition: all 0.2s ease;
}

nav ul li a:hover {
  background-color: #fff;
  color: #80a964;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1200px;
}

table thead th,
table tbody td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table thead th {
  background-color: #80a964;
  color: #fff;
}

table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tbody tr:hover {
  background-color: #ddd;
}

p strong {
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  transition: all 0.2s ease;
}

nav ul li a:hover {
  color: #d29500;
}

p {
  margin: 0;
  font-size: 14px;
  color: #666;
}
